In [1]:
%cd ..
%pwd

/home/muchio1124/Work/Study/NES_detection

'/home/muchio1124/Work/Study/NES_detection'

In [2]:
import pandas as pd

path = 'reports/result/evaluation.csv'
df = pd.read_csv(path)
df

   Unnamed: 0                   virus        tn     fp   fn      tp
0           0                   HIV-1  470337.0   43.0  1.0  3171.0
1           0                  HTLV-1  302187.0   10.0  0.0   811.0
2           0  influenza_A_virus_H1N1  260699.0  125.0  3.0   506.0

In [3]:
def recall(group):
    return group['tp'].sum() / (group['tp'].sum() + group['fn'].sum())
    
def precision(group):
    return group['tp'].sum() / (group['tp'].sum() + group['fp'].sum())

df_virus = pd.DataFrame(columns=['precision', 'recall'])
df_virus['recall'] = df.groupby('virus').apply(recall)
df_virus['precision'] = df.groupby('virus').apply(precision)

df_virus

                        precision    recall
virus
HIV-1                    0.986621  0.999685
HTLV-1                   0.987820  1.000000
influenza_A_virus_H1N1   0.801902  0.994106

In [4]:
def n_negative(group):
    return group['tn'].sum() + group['fp'].sum()
    
def n_positive(group):
    return group['fn'].sum() + group['tp'].sum()
    
df_virus = pd.DataFrame(columns=['n_negative', 'n_positive'])
df_virus['n_negative'] = df.groupby('virus').apply(n_negative)
df_virus['n_positive'] = df.groupby('virus').apply(n_positive)

df_virus['positive_rate'] = df_virus['n_positive'] / \
      (df_virus['n_positive'] + df_virus['n_negative'])

df_virus

                        n_negative  n_positive  positive_rate
virus
HIV-1                     470380.0      3172.0       0.006698
HTLV-1                    302197.0       811.0       0.002676
influenza_A_virus_H1N1    260824.0       509.0       0.001948